@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
:root{
    --greenish-color: #04AA6D;
}

#article{

}

/*KNOWLEDGE*/
.knowledge{
    color: rgb(0, 0, 0);
    /*background-color: rgba(255, 255, 255, 1);*/
}
#nombre {
    text-align: center;
    font-size: 50px;
    padding: 8vh 5vh 5vh;
}
.about-me{
    display: flex;
    flex-direction: column;
}
.perfil{
    align-self: center;
    width:60%;
    margin: 0 5% 0;
    padding: 5vh;
}

.perfil h2{
    text-align: justify;
}

/*ICONS*/
.icons{
    align-self: center;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    width:60%;
    margin-bottom: 10vh;


}
.icon-box{
    width: 25%;
    margin-bottom: 5vh;
}

.icons .iconify{
    color: var(--greenish-color);
    font-size: 10vh;
}


/*PROYECTOS*/

.projects{
    background-image: url(multimedia/images/background4.jpg);
    background-size:auto;
    background-attachment: fixed;
   /* z-index: 10;*/
    display: flex;
    flex-direction: column;
    /*background-color: white;*/
    margin-left: 5%;
    margin-right: 5%;
}
.project-title{
    text-align: center;
    font-size: 50px;
    padding: 5vh 5vh 5vh;
    align-self: center;
}
#project-img{
    align-self: center;
}
.project-img{
    align-self: center;

    margin-bottom: 4vh;
}
.project-menu{
    display: flex;
    align-self: center;
    flex-direction: row;
}



/*
@media only screen and (min-device-width: 1000px){
    body {
        background-image: url(multimedia/images/background2.jpg);
        background-size: cover; 
    }
}