
.dropdwn .iconify{
    width:6vh;
    height: 6vh;
}
  
.dropdwn {
    position: fixed;                            /*Para que siempre este en el mismo lugar*/
    bottom: 2rem;                               /*Posicionamiento en pantalla*/
    right: 2rem;                                /*Posicionamiento en pantalla*/
    display:flex;
    flex-direction: column-reverse;
    z-index: 100;
    transform: scale(0);                        /*Para que inicie escondido*/
    transition: transform 500ms ease;           /*Animacion para que aparezca*/
    transform-origin: bottom right;             /*Desde dónde aparece*/
}

.dropbtn {
    background-color: var(--blackish-color);
    color: white;
    padding: 2vh;
    display: inline-block;
    border-radius: 50%;
}
.dropbtn-box :hover{
  cursor: pointer;
}
.dropbtn .iconify{
    transition: transform 0.3s ease-in-out;     /*Animacion de giro del + */
}

.dropdown-content {
    background-color: #04AA6D;
    z-index: 99;
    border-top-left-radius:5vh;
    border-top-right-radius:5vh;
    transform: scaleY(0);
    transition: transform 0.15s ease-out;
    transition-delay: 0.15s;
    transform-origin: bottom;
  }
  .dropdown-content a:first-child {
    border-top-left-radius:50% ;
    border-top-right-radius:50% ;
  }
  .dropdown-content a {
    color: white;
    padding: 2vh;
    text-decoration: none;
    display: block;
  }

  .dropdown-content a:hover {background-color: var(--blackish-color)}

/*Animacion de los bordes del +x */
@keyframes corner {
  0%{
    border-top-left-radius:50% ;
    border-top-right-radius:50% ;
  }
  100%{
    border-top-left-radius:0 ;
    border-top-right-radius:0 ;
  }
}
@keyframes corner-reverse {
  0%{
    border-top-left-radius:0% ;
    border-top-right-radius:0% ;
  }
  100%{
    border-top-left-radius:50% ;
    border-top-right-radius:50% ;
  }
}

@media only screen and (max-device-width: 980px){
  .dropdwn .iconify{
    width:3vh;
    height: 3vh;
}
.dropdwn {                       
  bottom: 0.5rem;                               /*Posicionamiento en pantalla*/
  right:0.5rem;
}
}