#footer{
    color: white;
   text-align: center;
    background-image: url(../multimedia/images/Footer3.jpg) ;
    background-size: cover;
    filter: grayscale(100%);
}
#footer  h3{
    padding-bottom: 500px;
}