*{
    margin: 0px;
    padding: 0px;
}
:root{
  --greenish-color: #04AA6D;
  --blackish-color: #232427;
}

html{
    font: Lucida Console, monospace;
    scroll-behavior: smooth;
}

.cover {
  font-family: "Poppins", sans-serif;
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    position: relative;
    text-align: center;
    font-size: 15px;
  } 

.video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    object-fit: cover;
    filter: brightness(40%);
    /*filter: brightness(20%);*/
}

header h1{
      animation: aparition 5s;
}

@keyframes aparition {
    from {color: transparent;}
    to {color: white;}
}
  



/*--------Flecha-------------*/

  .scrollDown{
    display: none;
    position: absolute;
    bottom: 1em;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .scrollDown>a{
    text-decoration: none;
  }
  
  .scrollDown>a>svg{
    color: rgb(240, 240, 240);
    width: 2.5em;
    animation: move 1.5s linear infinite;
  }
  
  @keyframes move {
    0%,100%{
      transform: translateY(0);
    }
    50%{
      transform: translateY(.5em);
    }
  
  }
/*-----------NAV----------------*/

nav{
    position: -webkit-sticky; 
    position: sticky;
    top: 0;
    z-index: 5;
}
nav ul {
    list-style-type: none;
    overflow: hidden;
    background-color: var(--blackish-color);
    width: 100%;
}

nav ul li{
    float: left;
    min-width: 10%;
}
#top-nav-menu,
nav ul li a {
    display: block;
    color: rgb(255, 255, 255);
    text-align: center;
    text-decoration: none;
    padding: 3.5vh 3vh;
    font-size: 3vh;
}
#top-nav-menu:hover,
nav ul li a:hover{
  text-decoration: none;
  color: white;
  background-color: var(--greenish-color);
  cursor: pointer;
}
.nav{
  background-color: var(--blackish-color);
}
.nav_active {
    background-color: var(--greenish-color);
} 

/*Hidden menu*/
#top-nav-menu{
  display: none;

}


@media only screen and (max-device-width: 980px){

  .cover{
    height: 93.5vh;
    font-size: 12px;
  }
  nav ul {
    display: flex;
    flex-direction: column;
}
.scrollDown{
  display:block;
}

#top-nav-options{
  display: none;
  transform: scaleY(0);
  transition: transform 0.15s ease-out;
  transform-origin: top;
}
#top-nav-menu{
  padding: 2vh 0 2vh;
  display: flex;
}
nav ul li a {
  padding: 2vh 0 2vh;
}
}